::-webkit-scrollbar {
    width: 0 !important
}

.main-wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.section-header {
    background-color: #fff;
    color: #000;
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
}

.section-header p {
    color: #000000;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    line-height: normal;
    margin: 10px 0;
}

#header {
    /* max-width: 1440px; */
}

#studio p {
    line-height: normal;
    margin: 10px 0;
}

.video-bg {
    width: 100%;
    height: auto;
    max-width: 1440px;
}


/* connect */

#connect {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

.designers-wrapper {
    display: flex;
    flex-direction: row;
}

.designer {
    display: flex;
    flex-direction: column;
}

.designer:first-child {
    margin-right: 20px;
}

.designer img {
    width: 100%;
    height: 100%;
    max-width: 715px;
    max-height: 715px;

}

.designer p {
    line-height: normal;
    margin: 10px 0;
}

.designer-name {
    color: #000000;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    line-height: normal;
    margin: 5px 0 20px 0;
    margin-top: 15px !important;
}

hr {
    width: 100%;
}


/* projects */

#projects {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 80px;

}

.s-projects {
    display: flex;
    flex-direction: row;
}

.project {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
    flex-direction: column;
    margin-right: 20px;
}

.project p {
    color: #000000;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    line-height: normal;
    margin: 5px 0 20px 0;
}

.project a {
    cursor: pointer;
}

.project:first-child {
    /* margin-right: 10px; */
}

.project:nth-child(4) {
    margin-right: 0;
}

.project:nth-child(3n) {
    /* width: 1440px; */
}


/* contact */

#contact {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#contact p {
    line-height: normal;
    margin: 10px 0;
}

/* footer */

#footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1440px;
    height: 60px;
    background: #fff;
    margin-top: 80px;
    border-top: 1px solid #000;
}

p.madeby-text {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
}

p.copyright-text {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
}

/* margins */

.mr-20 {
    margin-right: 20px;
}

.mr10 {
    margin-right: 10px;
}


/* modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 9999;
}

.modal-content {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 20px 0 40px 0;
    overflow-y: auto;
    max-width: 1440px;
    border-top: 1px solid black;
}

.modal-header {
    position: sticky;
    top: 0;
    background: #fff;
    height: 40px;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 9998;
}

.modal-header a {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #121212;
}

.modal-close {
    cursor: pointer;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
}