#studio {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    color: #fff;
    height: auto;
    margin: 0 20px;
}

.about-studio {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    width: 100%;
    background-color: #ededed;
    border-top: 20px solid #fff;
}
.about-studio-h1 {
    color: #000000;
    font-size: 20px;
    margin-bottom: 20px;
}
.about-studio-p {
    color: #000000;
    margin: 0;
}

.blademark-logo {
    /* border-left: 1px solid #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: crimson; */
    margin: 80px;
}
.blademark-logo img {
    width: 100%;
    height: 100%;
    /* background-color: rgb(112, 33, 49); */

}





#about {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.designer {
    background-color: #EDEDED;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.d-header-w{
display: flex;
flex-direction: column;
}
.d-header {

}
.d-header h1 {
    font-size: 30px;
    margin: 30px 20px 0px 20px;
}
.d-header span {
    display: none;
}
.d-image {
    width: 100%;
}
.d-image img {
    width: 100%;
}
.d-content p {
    margin:20px;
}


#footer {
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 0 20px;
  }