body {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  }

#studio {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 0 20px;
}

.about-studio {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    width: 100%;
    background-color: #ededed;
    margin-top: 20px;
}
.about-studio-h1 {
  display: none;
}
.about-studio-p {
    color: #000000;
    margin: 0;
}

.blademark-logo {
    /* border-left: 1px solid #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: crimson; */
    padding: 80px;
    background-color: #000;
}
.blademark-logo img {
    width: 100%;
    height: 100%;
    /* background-color: rgb(112, 33, 49); */

}
.case-btn {
  display: none;
}





#about {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.designer {
    background-color: #EDEDED;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.d-header-w{
display: flex;
flex-direction: column;
}
.d-header {

}
.d-header h1 {
    font-size: 30px;
    margin: 30px 20px 0px 20px;
}
.d-header span {
    display: none;
}
.d-image {
    width: 100%;
}
.d-image img {
    width: 100%;
}
.d-content p {
    margin:20px;
}




#work {
    margin: 0 20px;
}
/* Swiper */

.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
    transition: ease-in 1s;
  }
  .marks {
    margin: 0 20px;
    margin-top: 50px;
  }
  
  .mt-5 {
    margin-top: 5px;
  }
  .mt-1 {
    margin-top: 1px;
  }
  .mark-item {
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    border-right: 1px solid #272727;
  }
.mark-swiper:not(:last-child){
  border-bottom: 1px solid #272727;
}

  .portfolio-title-wrapper {
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 2px;
  }
  
  .portfolio-title {
    display: flex;
    background-color: transparent;
    color: #000000;
      font-size: 1.2rem;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 2px;

  }
.portfolio-right {
  display: flex;
  background-color: transparent;
  color: #000000;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
}
  #connect {
    display: flex;
    flex-direction: column;
    margin: 20px;
    justify-content: center;
  }

  .contact {
    background-color: #000000;
    padding: 20px;
  }
  
  .about-us {
    background-color: #ededed;
    padding: 20px;
    margin-top: 20px;
  }
  .about-us p {
    color: #000;
  }

  .contact h1 {
    color: #fff;
    margin-top: 20px;
  }
  .contact p {
    color: #fff;
  }
  .connect-img {
    margin-top: 20px;
  }
  .connect-img img {
    width: 100%;
  }


.send-email {
background-color: #000000;
color: #fff;
font-size: 40px;
font-weight: bold;
text-align: center;
margin-top: 20px;
padding: 20px;
}

#footer {
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 0 20px;
  }


  @media (min-width: 768px) {
    #studio {
      flex-direction: row-reverse;
      background-color: #272727;
    }
    .about-studio {
      display: flex;
      flex-direction: column;
      padding: 40px;
      justify-content: center;
      width: 100%;
      background-color: #000000;
      margin-top: 0;
      margin-right: 1px;
  }
  .about-studio {
    justify-content: center;
  }
  .about-studio p{
color: #fff;
  }
  .blademark-logo {
    padding: 20px;
  }

  }

  @media (min-width: 992px) {
    .about-studio-h1 {
      display: block;
        color: #fff;
        font-size: 40px;
        margin-bottom: 20px;
    }
    .about-studio {
      justify-content: space-evenly;
      padding: 40px 60px;
    }
    .about-studio h1 {
      font-size: 4vw;
    } 
    .blademark-logo {
      padding: 40px;
    }
  }