/* basic styles */

html {
  font-size: 62.5%;
  -webkit-font-smoothig: antialiased;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  word-wrap: break-word;
  -ms-word-wrap: break-word;
  font-family: "Poppins", Sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  margin: 0 0 20px;
  font-size: 1.5rem;
  line-height: 3rem;
  color: #333;
  font-family: "Poppins";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins";
  margin: 0 0 20px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

hr {
  width: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

*::-moz-selection {
  background-color: #000000;
  color: #ffffff;
}

*::selection {
  background-color: #000000;
  color: #ffffff;
}

::-webkit-scrollbar {
  width: 0 !important;
}

#mousehover {
  perspective: 500px;
}

#opacity {
  opacity: 0;
}

.opacity1 {
  transition: 0.4s;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}





.main-wrapper {
  height: 100%;
  background-color: #fff;
  min-height: 100vh;
  padding: 40px 0 0;
  max-width: 1440px;
  margin: 0 auto;
}

.button {
  text-decoration: none;
  padding: 12px 30px;
  text-align: center;
}

.style-1 {
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(246, 25, 25, 0.49);
  background: rgba(246, 25, 25, 0.49);
  color: #fff;
  transition: 0.4s;
}

.style-1:hover {
  background-color: rgba(255, 255, 255, 0.18);
  border-color: rgba(255, 255, 255, 0.18);
  transform: translateY(10px);
}

.style-2 {
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  background: transparent;
  color: #fff;
  transition: 0.4s;
}

.style-2:hover {
  background-color: rgba(255, 255, 255, 0.18);
  transform: translateY(10px);
}

.style-3 {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #da0d2b;
  border-radius: 5px;
  padding: 16px 30px;
  color: #ffffff;
  transition: 0.4s;
}

.style-3:hover {
  transform: translateY(10px);
  background-color: #262626;
}

.style-4 {
  font-size: 15px;
  font-weight: 600;
  background-color: transparent;
  border: 2px solid;
  border-color: #ffffff;
  color: #ffffff;
  padding: 12px 24px;
  transition: 0.4s;
}

.style-4:hover {
  background-color: #da0e2b;
  border-color: #da0e2b;
}

.divider-separator {
  width: 15%;
  height: 4px;
  background: #c9162f;
  display: block;
}




.container {
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

#opacity1 {
  transition: 0.5s opacity;
}

/* margins */

.mt10 {
  margin-top: 10px;
}

.mr10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

/* default swiper */

.swiper {
  width: 100%;
  height: 100%;
  /* margin-bottom: 2px; */
  background: #1F1F1F;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-pagination {
  background-color: transparent;
  position: relative;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.swiper-pagination-bullet {
  margin-left: 10px;
}

:root {
  --swiper-theme-color: #272727 !important;
}

/* header */

#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  background: #fff;
  height: 40px;
}

.header-style1-wrap {
  /* padding: 2px 19px 0; */
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

/* header > logo */

h2.logo-title {
  margin: 4px 0 0;
  font-size: 2rem;
}

h2.logo-title a {
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  transition: 0.4s;
}

h2.logo-title a:hover {
  color: #999;
}

/* header > nav */

#header .jepret-menu-mobile {
  display: none;
  position: relative;
  font-size: 2rem;
  margin: 7px 0 0;
  width: 0;
  height: 100%;
  cursor: pointer;
  background-color: #fff;
}

.jepret-menu-mobile .icon {
  width: auto;
}

#main-menu {
  display: block;
}

li.menu-item:last-child {
  margin: 0;
}

li.menu-item a {
  color: #000000;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
}

.mobile-menu {
  display: block;
}

#header li.menu-item-sub {
  margin: 0;
}

/* sections */

.section-title {
  background-color: #fff;
  color: #000;
  width: 100%;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000;
  margin-bottom: 20px;
}

.section-title p {
  color: #000000;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: normal;
  margin: 10px 0;
}

/* section > studio */

#studio {
  margin-top: 0;
}

#studio p {
  line-height: normal;
  margin: 10px 0;
}

.video-bg {
  width: 100%;
  height: auto;
  max-width: 1440px;
}

/* studio > services */

.services-swiper {
  background-color: #fff !important;
  margin-top: 50px;
}

.services-swiper-wrapper {
  padding-bottom: 30px;
}

.service-slide {
  background-color: #e2e2e2 !important;
  text-align: left !important;
  display: flex;
  align-items: flex-start !important;
}

.service-slide h4 {
  color: #fff;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: normal;
  text-align: left;
  padding: 15px 20px;
  background: #000;
}

.service-slide p {
  color: #000000;
  font-size: 1.4rem;
  line-height: normal;
  margin: 5px 0 20px 0;
  text-align: left;
  padding-left: 20px;
}

.service-details {
  font-size: 1.4rem;
  text-align: left !important;
  line-height: normal;
  color: #fff;
  padding: 20px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.tag {
  color: #313131;
  background-color: #d4d4d4;
  padding: 5px 10px;
  margin-right: 5px;
  margin-top: 5px;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
}

/* projects */

#project-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid red;
}


.project-wide:not(:first-child) {
  margin-top: 10px;
}

.project-square {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  width: 100%;
}

.project-square img {
  width: 100%;
}

.project-square div:first-child {
  margin-right: 10px;
}

.projects-button {
  display: flex;
}

#projects {
  display: flex;
  width: 100%;
  flex-direction: column;
  /* margin-top: 80px; */
  margin-top: 60px;
}

.s-projects {
  display: flex;
  flex-direction: column;
}

.m-projects {
  display: flex;
  flex-direction: column;
}

.project {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
  flex-direction: column;
  /* margin-right: 20px; */
}

.project p {
  color: #000000;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: normal;
  margin: 5px 0 20px 0;
}

.project a {
  cursor: pointer;
}

/* .project:nth-child(4) {
  margin-right: 0;
} */

/* .p4th {
  margin-right: 0;
 } */

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-name {
  color: #000000;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: normal;
}

.close-project {
  color: #000000;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

.project-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.p-tag {
  background-color: #d8d8d8;
  color: #000000b7;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: normal;
  padding: 2px 4px;
  margin-left: 8px;
}

/* project-2 > marks & symbols */

.marks {
  margin-bottom: 10px;
}

.mark {
  margin-bottom: 10px;
}

.mark-swiper {
  margin-bottom: 2px;
}

.full-mark-wrapper {
  background: #000;
  /* height: 720px; */
  height: 100%;
  min-height: 720px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.full-mark-img {
  width: 240px;
  height: auto;
}

#mark-swipers {
  margin-bottom: 10px;
  background: #1F1F1F;
}

/* project-3 > logofolio */

.logofolio {
  background: #fff;
}

.logofolio-project {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.logofolio-project-details {
  height: 20px;
  /* background: red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.logofolio-project-name {
  color: #000000;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: normal;
}

.logofolio-about-project {
  line-height: normal;
}

.full-logofolio-img {
  max-height: 720px;
}

.logofolio-pagination {
  position: relative !important;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}



/* designers */

#designers {
  margin-top: 80px;
}

.designers-wrapper {
  display: flex;
  flex-direction: row;
}

.designer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.designer:first-child {
  margin-right: 20px;
}

.designer img {
  width: 100%;
  height: 100%;
  max-width: 715px;
  max-height: 715px;
}

.designer p {
  line-height: normal;
  margin: 10px 0;
}
.designer-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.designer-name {
  color: #000000;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: normal;
  margin: 5px 0 20px 0;
  margin-top: 15px !important;
}

.designer-about {
  /* background-color: red; */
  height: 100%;
}

.chat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.chat-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.chat-option {
  color: #313131;
  background-color: #d4d4d4;
  text-transform: uppercase;
  font-weight: 700;
  line-height: normal;
  padding: 5px 10px;
  margin-right: 5px;
  font-size: 1.2rem;
}

/* connect */

#connect {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.connect {
  display: flex;
  flex-direction: column;
}

.connect p {
  line-height: normal;
  margin: 10px 0;
}

/* footer */

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1440px;
  height: 60px;
  background: #fff;
  margin-top: 80px;
  border-top: 1px solid #000;
}

p.creator {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}

p.copyright {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}